@import "../mixins";
@import "../variables";

.container-all {
	.bg-image {
		background: right / 50% no-repeat url("../../public/bg-1.jpg");
	}

	.container-search {
		box-shadow: 0px 2px 11px 0px rgba(0, 0, 0, 0.3);
		background: $bg-light;
		input {
			width: 100%;
			margin: 2px 0px;
			background-color: $bg-light;
			outline: none;
		}
	}

	.manage-courts {
		background-color: $bg-dark;
		color: $text-light;
		text-wrap: balance;
		font-size: 16px;
	}

	.test-service {
		.service-question {
			font-size: 18px;
		}
		.points {
			text-wrap: balance;
		}
	}
}

.btn-primary {
	@include btn(true);
}

.btn-secondary {
	@include btn;
}
