.toggle {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
}

.menu {
    position: absolute;
    z-index: 1;
    top: 0;
    right: -100%;
    transition: .3s ease;
}

.opened {
    right: 0;
    transition: .3s ease;
}